body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #434455;
}

body a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.nav-content {
  display: none;
}
.address {
  display: none;
}
.mobile-burger {
  fill: rgba(47, 47, 55, 1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-item {
  color: #2e2f42;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
}
.mobile-menu-list {
  margin-bottom: 168px;
}
.mobile-menu-list-item {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
}
.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
  color: #404bbf;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
}
.mobile-menu-close-btn-icon {
  fill: rgba(46, 47, 66, 1);
}
.mobile-address {
  margin-bottom: 48px;
}
.mobile-address-item:first-child {
  margin-bottom: 24px;
}
.mobile-address-item {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-align: left;
}
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}
.mobile-socials-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-socials-item-link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
}
.mobile-socials-item-link:hover,
.mobile-socials-item-link:focus {
  background-color: #404bbf;
}
.mobile-socials-icon {
  fill: rgba(244, 244, 253, 1);
}

/* Backdrop Mobile */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.callback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 24px 24px 24px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.callback-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgba(231, 233, 252, 1);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-close-btn-icon {
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-close-btn:hover,
.callback-close-btn:focus {
  background-color: rgba(64, 75, 191, 1);
  border: none;
}

.callback-close-btn:hover .callback-close-btn-icon,
.callback-close-btn:focus .callback-close-btn-icon {
  fill: rgba(255, 255, 255, 1);
}

.callback-form-wrapper {
  margin-bottom: 8px;
  line-height: 0;
}

.callback-form-description {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(46, 47, 66, 1);
}

.callback-form-field-label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(142, 143, 153, 1);
}

.callback-form-input-wrapper {
  position: relative;
}

.callback-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: rgba(46, 47, 66, 1);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-field {
  width: 100%;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-field:focus {
  border-color: rgba(77, 90, 229, 1);
  outline-color: transparent;
  outline-offset: 4px;
}

.callback-form-field:focus + .callback-form-icon {
  fill: rgba(77, 90, 229, 1);
}

.callback-form-text {
  margin-bottom: 16px;
}

.callback-form-textarea {
  width: 100%;
  height: 120px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.callback-form-textarea:focus {
  border-color: rgba(77, 90, 229, 1);
  outline-color: transparent;
  outline-offset: 4px;
}

.callback-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.callback-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-checkbox-label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(142, 143, 153, 1);
}

.privacy-policy-link {
  color: rgba(77, 90, 229, 1);
  text-decoration: underline;
}

.callback-form-checkbox:checked
  + .callback-form-checkbox-label
  .callback-form-own-checkbox {
  background-color: rgba(64, 75, 191, 1);
  border: none;
  fill: rgba(244, 244, 253, 1);
}

.callback-form-submit {
  min-width: 169px;
  height: 56px;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 16px 32px;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-submit:focus,
.callback-form-submit:hover {
  background-color: rgba(64, 75, 191, 1);
}
.order {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 320px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_mobile@2x.jpg);
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 72px 76px;
}
.order-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.order-button {
  min-width: 169px;
  height: 56px;
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
.about-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.about-list-block {
  display: none;
}
.about-content {
  display: flex;

  flex-direction: column;
}
.about-title {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
}
.about-description {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
}
.about-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-list:nth-child(-n + 3) {
  margin-bottom: 72px;
}
.team {
  background-color: #f4f4fd;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;
}

.team-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list:not(:last-child) {
  margin-bottom: 72px;
}

.team-list-content {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-description {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-icon {
  fill: #f4f4fd;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-list-details {
  display: none;
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list:not(:last-of-type) {
  margin-bottom: 48px;
}
.portfolio-list-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.portfolio-list-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}

.footer-logo-item {
  color: #f4f4fd;
}
.footer-description {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-socials-title {
  margin-bottom: 16px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
}
.footer-socials-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #4d5ae5;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-subscribe-description {
  align-self: center;
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-email {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  outline-offset: 4px;
}

.footer-subscribe-email::placeholder {
  color: rgba(255, 255, 255, 1);
}

.footer-subscribe-button-icon {
  top: 8px;
  margin-left: 16px;
}

.footer-subscribe-button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 90, 229, 1);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: rgba(64, 75, 191, 1);
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-burger {
    display: none;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-content,
  .address {
    display: flex;
    flex-direction: row;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-list:not(:last-child) {
    margin-right: 40px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .active {
    color: #404bbf;
  }

  .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-content {
    display: flex;
    flex-direction: column;
  }

  .address {
    font-style: normal;
  }

  .address-list {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.04em;
    text-align: left;
  }

  .address-list:not(:last-child) {
    margin-bottom: 12px;
  }

  .address-list a:hover,
  .address-list a:focus {
    color: #404bbf;
  }

  .address-item {
    display: block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  @media screen and (min-width: 768px) {
    .order {
      margin: auto;
      padding: 112px 136px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_tablet.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      max-width: 768px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_tablet@2x.jpg);
    }
  }

  .order-container {
    padding: 0;
  }

  .order-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }

  .about-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-list {
    width: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
.about-list:nth-child(-n + 3) {
    margin-bottom: 0;
}
.about-list:nth-child(-n + 2) {
    margin-bottom: 72px;
}
  .about-title {
    margin-bottom: 8px;
  }

  .team-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .team-list:not(:last-child) {
    margin-bottom: 0;
  }

  .team-list:nth-child(-n + 2) {
    margin-bottom: 64px;
  }

  .team-list:nth-child(odd) {
    margin-right: 24px;
  }

  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-list {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list:not(:last-of-type) {
    margin: 0;
  }

  .portfolio-list:nth-child(-n + 4) {
    margin-bottom: 72px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer-content {
    max-width: 264px;
    align-items: flex-start;
    margin-right: 24px;
  }

  .footer-socials {
    align-items: flex-start;
    margin: 0;
  }

  .footer-subscribe {
    align-items: flex-start;
  }

  .footer-subscribe-description {
    align-self: flex-start;
  }

  .footer-subscribe-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-subscribe-email {
    width: 264px;
  }

  .footer-subscribe-button {
    align-self: flex-start;
  }
  .callback {
    width: 408px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .about,
  .team,
  .portfolio {
    padding: 120px 0;
  }
  .logo {
    margin-right: 76px;
  }
  .address-content {
    flex-direction: row;
    gap: 40px;
  }
  .address-list:not(:last-child) {
    margin-bottom: 0;
  }
  .address-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  @media screen and (min-width: 1158px) {
    .order {
      padding: 188px 0;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg.jpg);
      max-width: 1440px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .order {
      background-image: url(‘../images/bg@2x.jpg’);
    }
  }
  .order-title {
    margin-bottom: 48px;
  }
  .about-list {
    flex-basis: calc((100% - 72px) / 4);
  }
  .about-list:not(:last-child) {
    margin-right: 24px;
  }
  .about-list:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .about-list-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    line-height: 0;
  }
  .about-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
  }
  .about-description {
    font-weight: 400;
  }
  .team-content {
    gap: 24px;
  }
  .team-list:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .team-list:nth-child(odd) {
    margin-right: 0;
  }
  .portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .portfolio-list:nth-child(-n + 4) {
    margin-bottom: 0;
  }
  .portfolio-list:nth-child(-1n + 3) {
    margin-bottom: 48px;
  }
  .portfolio-list:hover {
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-list:hover .portfolio-list-details,
  .portfolio-list:focus .portfolio-list-details {
    transform: translateY(0%);
  }
  .portfolio-about {
    position: relative;
    overflow: hidden;
  }
  .portfolio-list-details {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 360px;
    height: 300px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-content {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-socials {
    margin-right: 80px;
  }
}
